<p>The HTML output of Widdershins is not intended to be used as a final product, but rather as a starting point for customization. You can modify the HTML output by using your own CSS, JavaScript, and templates. The default HTML output of Widdershins is a simple and minimalistic design, so it may not look very attractive or user-friendly out of the box. To make it more presentable, you would need to customize it using CSS and other web technologies.</p>


<iframe [src]="myHtmlUrl" width="100%" height="800px"></iframe>
