<nav>
  <a routerLink="/">Home</a>  |
    <a routerLink="/swagger">Swagger</a>  |   <a routerLink="/redoc">ReDoc</a>
   |   <a routerLink="/aglio">Aglio</a> |   <a routerLink="/httpsnippet">httpsnippet</a>
   |   <a routerLink="/rapidoc">rapiDoc</a> |   <a routerLink="/spectacle">spectacle</a>
   |   <a routerLink="/apidoc">apidoc</a>|   <a routerLink="/widdershins">widdershins</a>


</nav>

<br>
<p>
  Project to evaluate different libraries that can be used to display API docs in my site.
</p>
<hr>
<router-outlet></router-outlet>










