<p>
  Project to evaluate different libraries that can be used to display API docs in my site.
</p>

<table style="width:100%; border:1px solid black; border-collapse:collapse;">
  <tr>
      <th style="border:1px solid black; padding:10px;">Library</th>
      <th style="border:1px solid black; padding:10px;">Type</th>
      <th style="border:1px solid black; padding:10px;">Supported API Specification Formats</th>
      <th style="border:1px solid black; padding:10px;">Description</th>
      <th style="border:1px solid black; padding:10px;">URL</th>
  </tr>
  <tr>
      <td style="border:1px solid black; padding:10px;">Swagger UI</td>
      <td style="border:1px solid black; padding:10px;">Runtime</td>
      <td style="border:1px solid black; padding:10px;">OpenAPI, Swagger</td>
      <td style="border:1px solid black; padding:10px;">A popular open-source tool for creating interactive API documentation.</td>
      <td style="border:1px solid black; padding:10px;"><a href="https://github.com/swagger-api/swagger-ui">Link</a></td>
  </tr>
  <tr>
      <td style="border:1px solid black; padding:10px;">ReDoc</td>
      <td style="border:1px solid black; padding:10px;">Runtime</td>
      <td style="border:1px solid black; padding:10px;">OpenAPI</td>
      <td style="border:1px solid black; padding:10px;">A highly customizable open-source tool for generating stunning API documentation from OpenAPI descriptions.</td>
      <td style="border:1px solid black; padding:10px;"><a href="https://github.com/Redocly/redoc">Link</a></td>
  </tr>
  <tr>
      <td style="border:1px solid black; padding:10px;">RapiDoc</td>
      <td style="border:1px solid black; padding:10px;">Runtime</td>
      <td style="border:1px solid black; padding:10px;">OpenAPI</td>
      <td style="border:1px solid black; padding:10px;">A highly customizable open-source tool for generating interactive API documentation from OpenAPI descriptions.</td>
      <td style="border:1px solid black; padding:10px;"><a href="https://github.com/mrin9/RapiDoc">Link</a></td>
  </tr>
  <tr>
      <td style="border:1px solid black; padding:10px;">Aglio</td>
      <td style="border:1px solid black; padding:10px;">Transformer</td>
      <td style="border:1px solid black; padding:10px;">Blueprint</td>
      <td style="border:1px solid black; padding:10px;">A simple, configurable tool for creating beautiful HTML documentation from API Blueprint files.</td>
      <td style="border:1px solid black; padding:10px;"><a href="https://github.com/danielgtaylor/aglio">Link</a></td>
  </tr>
  <tr>
      <td style="border:1px solid black; padding:10px;">HttpSnippet</td>
       <td style="border:1px solid black; padding:10px;">Transformer</td>
        <td style="border:1px solid black; padding:10px;">Curl, Python Requests, Node.js, Go, Swift, Java, C#, OCaml</td>
        <td style="border:1px solid black; padding:10px;">A simple, web-based tool for generating code snippets from HTTP requests.</td>
        <td style="border:1px solid black; padding:10px;"><a href="https://github.com/Kong/httpsnippet">Link</a></td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px;">Spectacle</td>
        <td style="border:1px solid black; padding:10px;">Transformer</td>
        <td style="border:1px solid black; padding:10px;">OpenAPI, Swagger</td>
        <td style="border:1px solid black; padding:10px;">A flexible, open-source tool for generating HTML documentation from OpenAPI descriptions.</td>
        <td style="border:1px solid black; padding:10px;"><a href="https://github.com/sourcey/spectacle">Link</a></td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px;">Widdershins</td>
        <td style="border:1px solid black; padding:10px;">Transformer</td>
        <td style="border:1px solid black; padding:10px;">OpenAPI, Swagger</td>
        <td style="border:1px solid black; padding:10px;">A Node.js-based tool for generating API documentation from OpenAPI descriptions.</td>
        <td style="border:1px solid black; padding:10px;"><a href="https://github.com/Mermade/widdershins">Link</a></td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px;">Slate</td>
        <td style="border:1px solid black; padding:10px;">Transformer</td>
        <td style="border:1px solid black; padding:10px;">Markdown</td>
        <td style="border:1px solid black; padding:10px;">A static site generator for API documentation that is written in Markdown.</td>
        <td style="border:1px solid black; padding:10px;"><a href="https://github.com/slatedocs/slate">Link</a></td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px;">Apiary</td>
        <td style="border:1px solid black; padding:10px;">Platform</td>
        <td style="border:1px solid black; padding:10px;">API Blueprint</td>
        <td style="border:1px solid black; padding:10px;">A comprehensive API documentation platform that provides a simple and collaborative platform to design, document, and test APIs.</td>
        <td style="border:1px solid black; padding:10px;"><a href="https://apiary.io">Link</a></td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px;">Stoplight</td>
        <td style="border:1px solid black; padding:10px;">Platform</td>
        <td style="border:1px solid black; padding:10px;">OpenAPI</td>
        <td style="border:1px solid black; padding:10px;">A platform that offers API design, documentation, mock, and testing tools.</td>
        <td style="border:1px solid black; padding:10px;"><a href="https://stoplight.io">Link</a></td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px;">ReadMe</td>
        <td style="border:1px solid black; padding:10px;">Platform</td>
        <td style="border:1px solid black; padding:10px;">OpenAPI</td>
        <td style="border:1px solid black; padding:10px;">A tool that offers API documentation, API explorer, and developer portal features.</td>
        <td style="border:1px solid black; padding:10px;"><a href="https://readme.com">Link</a></td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px;">Apiary CLI</td>
        <td style="border:1px solid black; padding:10px;">Transformer</td>
        <td style="border:1px solid black; padding:10px;">API Blueprint</td>
        <td style="border:1px solid black; padding:10px;">A command-line interface for generating HTML documentation from API Blueprint files.</td>
        <td style="border:1px solid black; padding:10px;"><a href="https://github.com/apiaryio/apiary-client">Link</a></td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px;">Dredd</td>
        <td style="border:1px solid black; padding:10px;">Testing</td>
        <td style="border:1px solid black; padding:10px;">OpenAPI, Swagger, API Blueprint</td>
        <td style="border:1px solid black; padding:10px;">A language-agnostic tool for testing API descriptions against backend implementation.</td>
        <td style="border:1px solid black; padding:10px;"><a href="https://github.com/apiaryio/dredd">Link</a></td>
    </tr>
</table>
